* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* set background colors */
.header-bar,
.main-bar,
.foot {
    background-color: #1F2937 ;
    color:#E5E7EB;
}

.quote-bar {
    background-color: #E5E7EB;
}

.action-bar,
.button {
    background-color: #3882F6;
}

/* set even margins on dark segments */
.header,
.main,
.footer {
    margin: auto;
    width: 80%;
}

/* style one section at a time */
/* topmost */
.header{
    display: flex;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    flex:1;
  
}
.links{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    text-align: right;
    flex:1;   
}

.links div {
    flex:1;  
}

/* second segment */

.main-text {
    display: flex;
    flex: wrap;
}


.foot {
    text-align: center;
}


/* borders for troubleshooting only */

.main,
.main div,
.main-left,
.main-right,
.button {
    border: 1px solid red;
    
   
        
}
    


