* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* set background colors */
.header-bar,
.main-bar,
.foot {
    background-color: #1F2937 ;
    color:#E5E7EB;
}

.quote-bar {
    background-color: #E5E7EB;
}

.action-bar,
.button {
    background-color: #3882F6;
}

/* set even margins on dark segments */
.header,
.main,
.footer {
    margin: auto;
    width: 75%;
}

/* style one section at a time */
/* topmost */
.header{
    padding-top: 5px;
    display: flex;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    flex:1;
}

.links{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    text-align: right;
    flex:1;   
}

.links div {
    flex:1;  
}

/* second segment */

/* give segment fixed height */
.main-bar {
    height: 300px;
}

.main {
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 4% 0% 4% 0%;
}

/*NEED to fix breaking out of container when page made smaller*/
.main-left {
    padding-right: 5%;
}

.main-left,
.main-right {
    flex: 1; 
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    display: flex;
    flex: wrap;
}

.sub-text {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 5px;
}

.button {
    width: 125px;
    height: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
 }

  /* currently set to fit container - 
 need to resize image without distortion and 
 then align to right edge */  
.main-right img {
    height: 100%;
    width: 100%;
}

/* info segment */
.info-text {
    font-size:36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 20px;
}

/* image thumbnails section */
.illustration-bar {
    display:flex;
    flex: nowrap;
    justify-content: center;
    padding-bottom: 40px;
}

.illustration-bar img {
    border: 2px solid #3882F6;
    border-radius: 10px;
    height: 200px;
    width: 200px;
    margin-left: 20px; 
    margin-right: 20px;
}

.info-text,
.foot,
.subtext {
    text-align: center;
    justify-content: center;
    align-items: center;
    wrap: nowrap;
}

.quote-text {
    font-size: 36px;
    font-weight: 50;
    color: #1F2937;
    margin: 5% 5% 0% 5%;

}

.quote-sig {
    text-align: right;
    margin: 0% 5% 5% 5%;
    padding-right: 10px;
}

/* borders for troubleshooting only */

.quote-bar{
    border: 2px yellow solid;

}
.quote-text {
    border: 2px solid green;

}

.quote-sig {
    border: 2px solid red;
}

